<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schultetwins.umlaundry"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4"
        android:targetSdkVersion="14" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	
    <application
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name=".activities.UofMLaundryBuildingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.schultetwins.umlaundry.activities.UofMLaundryRoomsActivity"
            android:label="Rooms" >
        </activity>
        <activity
    		android:name="com.schultetwins.umlaundry.activities.UofMLaundryMachinesActivity"
            android:label="Machines" >
        </activity>
        <activity 
            android:name="com.schultetwins.umlaundry.activities.SettingsActivity"
            android:label="SettingsActivity">
             <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>
        <service android:name=".services.UMLaundryStatusService"></service>
        <provider
    		android:authorities="com.schultetwins.umlaundry.data.UMLaundryContentProvider"
    		android:multiprocess="true"
    		android:name="com.schultetwins.umlaundry.data.UMLaundryContentProvider">
        </provider>
        
    </application>

</manifest>